p{
	border : 1px solid black;
	padding: 10px;
	margin: 30px;

}

li{
	border : 1px solid black;
	font-style: italic;
	margin: 30px;

}

.red{
	color: red;
}

#answers{
	margin-left:75px;
}

input{
	margin-right: 10px;
	margin-bottom: 15px;
}
.btn-back{
	border : solid 0px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background-color : #215ba3;
	margin-right :100px;
	margin-left : 55px; 

}

.btn-style{
	border : solid 0px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background-color : #215ba3;
	margin-right :100px;
	margin-left :-20px; 

}

.btn-disabled{
	border : solid 0px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background-color : #d4e4f7;
	margin-right :100px;
	margin-left :-20px; 
}